
/* Reset
-------------------------------------------------------*/
html, body, div, span, iframe,h1, h2, h3, h4, h5, h6, p, a, abbr, acronym, address, big, cite, code, em, font, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label,table, caption, tbody, tfoot, thead, tr, th, td{margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent; list-style-type:none;}
body{ font:12px/1.5em 'microsoft yahei','微软雅黑','黑体','宋体',Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; color:#333;}
input,textarea{padding:0;margin:0;}

div{ display:block;}

/** 重置超链接元素 **/
a { text-decoration: none;}
a:hover{ text-decoration: inherit}
/** 重置图片元素 **/
img{ border:0;}
/** 重置列表元素 **/
ul, ol { list-style: none; }
/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/*清除浮动*/
.clear{
	height:0px;
	line-height:0px;
	font-size:0px;
	clear:both;
	}
/*--------------------------------------------------------->*/